.feature-group-info {
    padding: 0 23px 0 14px;
    height: 0;
    opacity: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: opacity $t-duration ease-in;

    &.is-visible {
        height: auto;
        padding: 9px 23px 9px 14px;
        opacity: 1;
    }

    &__inner {
        position: relative;
        padding: 20px 18px;
        background-color: $c-white;
        border: 0.5px solid #dfdfdf;
        border-radius: 8px;
    }

    &__row {
        &:nth-of-type(1) {
            margin-bottom: 4px;
        }

        &:nth-of-type(2) {
            margin-bottom: 12px;
        }

        h5 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }

        p {
            font-size: 14px;
            line-height: 1.6;
        }

        ul {
            display: flex;
            gap: 30px;
            list-style-type: none;
        }

        ul li {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 600;

            strong {
                display: block;
                height: 10px;
                width: 10px;
            }
        }
    }

    button {
        position: absolute;
        right: 3px;
        top: 16px;
        background: none;
        border: none;

        span {
            display: block;
            width: 10px;
            height: 10px;
            transition: opacity 0.3s;
            transform: translate(-50%, -50%);

            &:hover {
                opacity: 0.3;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 1px;
                background-color: $c-black;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
