.filter {
    position: relative;

    &__content {
        position: absolute;
        top: 25px;
        right: -5px;
        height: fit-content;
        z-index: 5;
        padding: 10px 0;
        border-radius: 5px;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.14);
        background: $c-white;
        color: $c-black;
        pointer-events: none;
        opacity: 0;
        transition: opacity $t-duration;

        &.is-active {
            pointer-events: all;
            opacity: 1;
        }
    }

    &__content ul {
        font-size: 15px;
        list-style-type: none;

        li {
            padding: 3px 15px 3px 19px;
        }

        li:last-child {
            margin-bottom: 0;
        }

        li button {
            color: $color-black-33;
            background: none;
            border: none;
        }

        li:hover {
            background-color: $color-gray-f8;
        }
        li.is-active {
            background-color: $color-gray-e8e;
        }
    }

    &-box {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 10px;
    }
}

/* ------------------------------------------------------------ *\
    Filter Visibility
\* ------------------------------------------------------------ */

.filter--visibility {
    .filter-button img {
        height: 16px;
        width: 25px;
        margin-right: 5px;
    }

    &:not(.filter--white-img) .filter-button img {
        filter: invert(48%) sepia(10%) saturate(744%) hue-rotate(157deg) brightness(92%) contrast(86%);
    }
}

/* ------------------------------------------------------------ *\
    Filter Type
\* ------------------------------------------------------------ */

.filter--type {
    .filter__content {
        padding: 17px 0;
    }

    .filter__content ul {
        max-height: 235px;
        width: 208px;
        font-size: 14px;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-gray-d5;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-gray-d6;
        }

        li {
            margin: 0 2px 2px 0;
            padding: 4px 0px 4px 23px;
        }

        button {
            width: 170px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button img {
            height: 10px;
            width: 10px;
            margin-right: 10px;
        }
    }

    .filter-button img {
        height: 13px;
        width: 18px;
    }
}

/* ------------------------------------------------------------ *\
    Filter Feature
\* ------------------------------------------------------------ */

.filter--feature {
    .filter__content {
        min-width: max-content;
        padding: 15px 0;
    }

    .filter__content ul {
        font-size: 14px;

        li {
            padding: 4px 12px 4px 19px;
        }

        li.has-border {
            position: relative;
            margin-bottom: 17px;

            &::after {
                content: '';
                position: absolute;
                top: 37px;
                bottom: 0;
                left: 19px;
                width: 80%;
                height: 1px;
                background-color: #e6e6e6;
            }
        }

        button {
            width: 100%;
            text-align: left;
        }

        button img {
            height: 20px;
            width: 20px;
            margin-right: 8px;
        }
    }

    .filter-button img {
        height: 13px;
        width: 18px;
    }

    .filter-box {
        margin-right: 7px;
    }
}

/* ------------------------------------------------------------ *\
    Filter Helper Menu
\* ------------------------------------------------------------ */

.filter--helper-menu {
    margin-right: 5px;
    font-size: 15px;

    .filter__content {
        white-space: nowrap;
        border: 1px solid $color-gray-e6;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.09);
    }

    ul li {
        padding: 7px 19px;

        a {
            text-decoration: none;
            color: $color-black-33;
        }
    }

    .filter-button {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            width: 13px;
            height: 13px;
            padding-top: 3px;
            fill: $color-black-33;
        }
    }
}
