.loader {
    padding: 20px;

    &.is-white {
        background-color: #fff;
    }

    &.is-gray {
        background-color: #f8f8f8;
    }

    &.is-fixed {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 999;
    }

    &.is-smaller {
        padding: 0;
    }

    &:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        border-radius: 100%;
        border: 2px solid $color-black-13;
        border-top-color: #fff;
        animation: spin 0.8s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
