.project-header {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0px;
    background-color: $c-white;
    transition: all $t-duration;

    &__shell {
        flex: 1;
        margin: 0 auto;
        overflow: hidden;

        @include breakpoint-down(mobile) {
            padding-inline: 15px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 600px;
    }

    &__menu-links {
        display: flex;
        align-items: center;
        gap: 20px;

        @include breakpoint-down(tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: none;
            width: 300px;
            height: 100%;
            flex-direction: column;
            max-height: 100%;
            padding-top: 80px;
            overflow: auto;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        }
    }
}

.toggle-project-header-nav {
    position: relative;
    display: none;
    background: transparent;
    border: 0 none;
    appearance: none;
    width: 25px;
    height: 18px;
    color: $color-black-13;

    @include breakpoint-down(tablet) {
        display: block;
    }

    span {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        transition: all 0.25s;
        background: currentcolor;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            top: 100%;
            transform: translateY(-100%);
        }
    }
}

.project-header.has-active-nav {
    @include breakpoint-down(tablet) {
        z-index: 2;
    }

    .toggle-project-header-nav {
        span {
            @include breakpoint-down(tablet) {
                background: $color-red-f9;
                transition: background $t-duration;
                z-index: 8;

                &:nth-child(3),
                &:nth-child(1) {
                    top: 9px;
                }

                &:nth-child(2) {
                    left: -150%;
                    opacity: 0;
                }

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .project-header__menu-links {
        @include breakpoint-down(tablet) {
            display: flex;
            z-index: 7;
            animation: fadeIn $t-duration;
            -webkit-animation: fadeIn $t-duration;
            -moz-animation: fadeIn $t-duration;
            -o-animation: fadeIn $t-duration;
            -ms-animation: fadeIn $t-duration;
        }
    }
}

/* ------------------------------------------------------------ *\
    Project Header Menu Links Animation
\* ------------------------------------------------------------ */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
