.project__items-holder {
    padding-bottom: 10px;

    @include breakpoint-down(tablet) {
        display: table;
        border-spacing: 0 5px;
    }
}

.project__item {
    margin-bottom: 5px;

    &:first-child {
        margin-top: 10px;
    }
    border-radius: 5px;
    background: $c-white;

    @include breakpoint-down(tablet) {
        display: table-row;
        white-space: nowrap;
    }

    &.is-green-bordered {
        border: 1px solid $color-green-82;
    }

    .project__item-inner {
        display: flex;
        justify-content: space-between;
        padding: 10px 11px 10px 18px;
    }

    .project__item-left {
        display: flex;
        align-items: center;

        @include breakpoint-down(tablet) {
            padding-right: 10px;
        }

        .bold {
            font-weight: 600;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
        }
    }

    .project__item-title {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;

        a {
            display: flex;
            gap: 5px;
            align-items: center;
            text-decoration: unset;
            transition: text-decoration 0.3s;

            &:hover {
                text-decoration: underline;
            }
        }

        a span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include breakpoint-down(small-desktop) {
                max-width: 170px;
            }
        }
    }

    .project__item-right {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .project__item-groups {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .project__item-group {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .project__item-group-link {
        text-decoration: none;
    }

    .project__item-link {
        font-size: 14px;
        font-weight: 400;
        color: $color-blue-0e9;
        text-decoration: none;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    .project__item-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 34px;
        padding: 7px 11px;
        font-size: 14px;
        background: #ffffff;
        border: 1px solid $color-gray-e6;
        border-radius: 5px;
        transition: box-shadow 0.3s;

        img {
            max-width: initial;
        }

        &:hover {
            box-shadow: 0 0 3px 2px $color-gray-e6;
        }

        .project__item-text {
            color: #000000;
            font-size: 14px;
        }
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 600;
        border-radius: 50%;
        background: $color-red-c8;
        color: #fff;
    }

    .project__item-group:last-child {
        margin-right: 0px;
    }
}

.project__item-button {
    &.larger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% + 2px);
        margin-left: -1px;
        height: 32px;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid $color-gray-e6;
        background: linear-gradient(
            360deg,
            rgb(243, 245, 246) 0%,
            rgb(255, 255, 255) 100%
        );
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 0 3px 2px $color-gray-e6;
        }

        img {
            height: 13px;
            width: 13px;
        }
    }

    &.is-gray svg {
        fill: $color-gray-70;
    }
}
