.repeater {
    width: 100%;

    h3 {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .accordion {
        margin-bottom: 12px;
    }

    .accordion__section {
        width: 100%;
        padding: 0 !important;
        margin-bottom: 0 !important;
        background: $c-white !important;
        border: 1px solid $color-gray-c9;
        border-radius: 10px;
        overflow: hidden;
    }

    .accordion__section:has(.accordion__body.active) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .accordion__header {
        height: 36px;
    }

    .accordion__header-left h4 {
        margin-left: 12px;
        font-size: 14px;
        font-weight: 500;
    }

    .accordion__header-right {
        flex: 1;
    }

    .accordion__header-right button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: none;
        background: none;
        transition: transform 0.3s;
        background-color: transparent;
        cursor: pointer;

        &::before {
            content: '';
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid $color-black-33;
            transition: transform $t-duration;
        }

        &.is-open::before {
            transform: rotate(180deg);
        }
    }

    .accordion__body-wrapper {
        padding: 17px 12px;
    }

    .accordion__body.active {
        border-top: 1px solid $color-gray-c9;
    }

    &__item {
        position: relative;
        display: flex;
        gap: 3px;
        padding-right: 15px;
        margin-bottom: 7px;
    }

    &__item-textfield {
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-size: 14px;

        label {
            font-size: 14px;
            font-weight: 600;
        }

        input {
            height: 36px;
            padding: 8px 10px;
            border: 1px solid $color-gray-c9;
            border-radius: 5px;
        }

        &:first-child {
            margin-bottom: 17px;
        }

        &.has-error input {
            border-color: $color-red-de;
        }
    }

    &__item-checkbox {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-top: 7px;
        margin-bottom: 17px;

        label {
            font-size: 14px;
            font-weight: 500;
        }

        input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            padding-bottom: 3px;
            border: 1px solid $color-gray-c9;
            border-radius: 3px;
            background-color: $c-white;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }

        input:checked {
            &:before {
                content: '';
                display: inline-block;
                width: 6px;
                height: 10px;
                border: solid $color-black-33;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    .button {
        width: unset;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 5px;
    }

    .button-icon {
        position: absolute;
        top: 13px;
        right: -4px;
        padding: 0;

        img {
            width: 12px;
            height: 12px;
        }
    }
}
