.reply-section {
    display: none;

    &.is-active {
        display: block;
        width: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 10px;

        .inline-file-upload {
            margin-top: 10px;
        }
    }
}
