.rich-text-editor {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    &__field {
        height: 90px !important;
        font-size: 14px !important;
        border: 1px solid $color-gray-e6 !important;
        border-top: none !important;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .ql-toolbar {
        border: 1px solid $color-gray-e6 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ql-toolbar.ql-snow {
        margin-top: 19px;
    }

    .ql-tooltip {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    &.is-disabled {
        .ql-toolbar {
            display: none;
        }

        .rich-text-editor__field {
            background-color: $color-gray-f3 !important;
        }
    }

    &.is-larger {
        .rich-text-editor__field {
            max-height: 550px;
            min-height: 272px;
        }
    }
}

/* ------------------------------------------------------------ *\
    Rich Text Editor Table
\* ------------------------------------------------------------ */

.rich-text-editor--table {
    padding: 0 14px;
    padding-bottom: 11px;
    margin-bottom: 0px;

    label {
        margin-bottom: 8px;
    }

    .ql-toolbar {
        display: flex;
        align-items: center;
        height: 34px;
        padding: 0 7px !important;
        background-color: $color-gray-f3;
        border: unset !important;
    }

    .ql-editor {
        padding: 14px 15px;
    }

    .rich-text-editor__field {
        height: 258px !important;
        border: unset !important;
        background-color: $c-white;
    }
}

/* ------------------------------------------------------------ *\
    Rich Text Editor Text Only
\* ------------------------------------------------------------ */

.rich-text-editor--text-only {
    padding: 0 10px;
    min-height: 240px;

    .ql-editor {
        padding: 0;
        background-color: $c-white !important;

        * {
            font-size: 15px !important;
        }
    }

    .rich-text-editor__field {
        min-height: 240px !important;
        border: unset !important;
    }
}

/* ------------------------------------------------------------ *\
    Rich Text Editor Medium
\* ------------------------------------------------------------ */

.rich-text-editor--medium {
    max-width: 600px;
}

/* ------------------------------------------------------------ *\
    Rich Text Editor in Form Suggestion
\* ------------------------------------------------------------ */

.form__suggestion .rich-text-editor {
    margin-bottom: 0;

    label {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .ql-toolbar {
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        background: $c-white !important;
    }

    .rich-text-editor__field {
        height: 85px !important;
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        background: $c-white !important;
    }

    .ql-editor {
        background: $c-white !important;
    }
}

/* ------------------------------------------------------------ *\
    Rich Text Editor in Reply Section
\* ------------------------------------------------------------ */

.reply-section .rich-text-editor {
    margin-bottom: 10px;

    .ql-toolbar {
        display: flex !important;
        flex-wrap: nowrap !important;
        background: $c-white !important;
    }

    .rich-text-editor__field {
        background: $c-white !important;
    }

    .ql-editor {
        background: $c-white !important;
    }
}
