.btn-back {
    display: inline-block;
    text-decoration: none;

    &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 2px;
        border: 1px solid $color-black-44;
        border-right: 0;
        border-bottom: 0;
        transform: rotate(-45deg);

        @include breakpoint-down(mobile) {
            width: 7px;
            height: 7px;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}
