.button-deny {
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    color: $c-white;
    opacity: 1;
    transition: opacity 0.3s;

    @include breakpoint-down(mobile) {
        font-size: 12px;
    }

    &--block {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    svg {
        margin: 0 10px 0 0;
    }

    &.is-red {
        background-color: $color-red-d6;
    }

    &.is-green {
        background-color: $color-green-6a;
    }

    &:disabled {
        display: flex !important;
        background-color: $color-gray-ea !important;
    }

    &:hover {
        opacity: 0.8;
    }
}
