.comments-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 120px;
    flex: unset;
    cursor: pointer;

    &__control {
        width: fit-content;
        margin: 0 0 0 18px;
        font-size: 14px;
        font-weight: 400;
        border: none !important;
        box-shadow: unset !important;
        background: $color-gray-f1 !important;
        cursor: pointer !important;
    }

    &__value-container {
        display: block !important;
        padding: 0 !important;
    }

    &__single-value {
        display: contents;
    }

    &__indicator {
        width: 15px;
        height: 20px;
        padding: 0 !important;

        svg {
            fill: $color-black-33;
        }
    }

    &__menu {
        position: absolute !important;
        top: 90% !important;
        display: block !important;
        visibility: visible !important;
        width: fit-content !important;
        margin-top: 0 !important;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px !important;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.14) !important;
        white-space: nowrap;

        &-list {
            padding: 10px 0 !important;
        }
    }

    &__option {
        display: block !important;
        visibility: visible !important;
        padding: 3px 19px !important;
        margin-bottom: 2px !important;
        font-size: 15px !important;
        font-weight: 400;
        cursor: pointer !important;

        &--is-focused {
            color: $color-black-33 !important;
            background-color: $color-gray-f7 !important;
        }

        &--is-selected {
            color: $color-black-33 !important;
            background-color: $color-gray-e8e !important;
        }
    }
}
