.flex-row {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(tablet) {
        display: block;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.spacing-20 {
        gap: 20px;
    }

    .flex-col {
        flex: 0 0 49%;

        &--one-third {
            flex: 0 0 37%;

            @include breakpoint-down(mobile) {
                h4 {
                    font-size: 14px;
                }
            }
        }

        &--two-third {
            flex: 0 0 61%;

            @include breakpoint-down(tablet) {
                margin-bottom: 30px;
            }

            @include breakpoint-down(mobile) {
                margin-bottom: 20px;
            }
        }

        &.is-hidden {
            display: none;
        }
    }

    .flex-heading {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 15px;

        h3 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .flex-content {
        padding: 20px 32px;
        border-radius: 6px;
        background-color: $color-gray-f1;
        text-align: center;

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}
