// ==========================================================================
// Footer
// ==========================================================================

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    background-color: $color-gray-d5;

    span {
        font-size: 13px;
        font-weight: 400;
    }

    a {
        color: $color-red-ee;
        text-decoration: none;
        transition: opacity $t-duration;

        &:hover {
            opacity: 0.8;
        }
    }

    @include breakpoint-down(mobile) {
        @include expandPageContent();
    }
}
