.form-color-picker {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 20px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border: 3px solid $color-gray-e6;
        border-radius: 50%;
    }

    path {
        fill: #ffffff;
    }

    &__field {
        position: absolute;
        top: 55px;
        left: 0px;
        z-index: 2;
    }
}

/* ------------------------------------------------------------ *\
    Form Color Picker Horizontal
\* ------------------------------------------------------------ */

.form-color-picker--horizontal {
    height: 100%;
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;

    svg {
        height: 15px;
        width: 15px;

        path {
            fill: $color-black-33;
        }
    }
}
