.form-icon-picker {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 91px;
        padding: 8px 28px;
        font-size: 13px;
        border-radius: 20px;
        background-color: $color-black-48;
        color: $c-white;
    }

    strong {
        font-size: 13px;
        font-weight: 600;
        margin: 0 10px;
    }

    label {
        margin-bottom: 12px;
    }

    img {
        width: 27px;
        height: 27px;
    }
}

/* ------------------------------------------------------------ *\
    Form Icon Picker Horizontal
\* ------------------------------------------------------------ */

.form-icon-picker--horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;

    @include breakpoint-down(mobile) {
        gap: 10px;
        justify-content: flex-start;
    }

    label {
        margin-bottom: 0 !important;
        margin-right: 3px;
    }

    span {
        height: 30px;
        max-width: 130px;
        padding: 0;
        margin: 0;
        background-color: $color-black-54;
    }

    img {
        max-width: 56px;
        height: 100%;
    }

    strong {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }
}
