.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 4px 25px 4px 2px;
    background-color: $c-white;
    border: none;
    border-bottom: 1px solid $color-gray-e6;
    z-index: 6;

    @include breakpoint-down(mobile) {
        padding: 0 10px 0 0;
    }

    .header__left {
        display: flex;
        align-items: center;
        flex: 1;

        @include breakpoint-down(mobile) {
            padding-left: 5px;
        }
    }

    .header__left-links {
        display: flex;
        gap: 4px;
        list-style: none;
        flex-flow: wrap;

        @include breakpoint-down(mobile) {
            display: none;
            position: fixed;
            top: 45px;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            margin: 0;
            padding: 10px;
        }

        li {
            @include breakpoint-down(mobile) {
                margin-bottom: 5px;
            }

            a {
                @include breakpoint-down(mobile) {
                    display: inline-block;
                    background: none;
                }

                &.active {
                    @include breakpoint-down(mobile) {
                        background: none;
                        color: $color-blue-0e;
                    }
                }
            }
        }
    }

    .header__right {
        display: flex;
        align-items: center;
        gap: 10px;

        @include breakpoint-down(tablet) {
            .button {
                padding: 7px 12px;
                font-size: 13px;
            }
        }

        @include breakpoint-down(mobile) {
            display: none;
            position: absolute;
            top: 65px;
            right: 10px;
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        &-img-button {
            background: none;
            border: none;
        }
    }

    .header__link {
        display: inline-block;
        padding: 9px 12px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        background: $color-gray-f5;
        transition: background 0.3s;

        @include breakpoint-down(tablet) {
            font-size: 13px;
            padding: 9px 5px;
        }

        &:hover {
            background: rgba($color-black-33, 0.2);

            @include breakpoint-down(mobile) {
                background: none;
            }
        }

        &.active {
            background: $color-gray-82;
            color: #ffffff;

            @include breakpoint-down(mobile) {
                background: none;
            }
        }

        &.active:hover {
            background: $color-gray-a6;

            @include breakpoint-down(mobile) {
                background: none;
            }
        }

        &--login {
            font-weight: 400;
            background: none !important;
            color: $c-black !important;
        }

        &--login &:hover {
            background: none;
        }
    }
}

.toggle-header-nav {
    position: relative;
    display: none;
    background: transparent;
    border: 0 none;
    appearance: none;
    width: 25px;
    height: 18px;
    color: $color-black-13;

    @include breakpoint-down(mobile) {
        display: block;
    }

    span {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        transition: all 0.25s;
        background: currentcolor;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            top: 100%;
            transform: translateY(-100%);
        }
    }
}

.header.is-open {
    @include breakpoint-down(mobile) {
        z-index: 2;
    }

    .toggle-header-nav {
        span {
            @include breakpoint-down(mobile) {
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &:nth-child(3) {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }

    .header__right,
    .header__left-links {
        @include breakpoint-down(mobile) {
            display: block;
        }
    }

    .header__right {
        @include breakpoint-down(mobile) {
            display: flex;

            .button.white {
                display: none;
            }
        }
    }
}
