.holder-widgets {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
    height: 100%;
    padding: 50px 39px 0 29px;

    &__column:nth-child(1) {
        flex: 1 1 100%;
    }

    &__column:nth-child(1) .holder-widgets__row {
        margin-bottom: 0;
    }

    &__column:nth-child(2) {
        flex: 2;

        @include breakpoint-down(tablet) {
            flex: 100%;
        }
    }

    &__column:nth-child(3) {
        flex: 1;
    }

    &__row {
        display: flex;
        gap: 40px;
        margin-bottom: 40px;

        @media (max-width: 640px) {
            flex-direction: column;
        }
    }

    &__row--flexible-children {
        .holder-widgets__group:first-child {
            flex: 70%;
        }
        .holder-widgets__group:last-child {
            flex: 33%;
        }
    }

    &__group {
        width: 100%;
    }

    &__group-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 46px;
        padding: 0 5px 18px;

        &__left {
            display: flex;
            align-items: center;
            gap: 12px;

            @media (max-width: 640px) {
                font-size: 15px;
            }
        }

        strong {
            font-weight: 600;
        }

        svg {
            fill: $color-black-33;
        }
    }
}
