.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $sidebar-width;
    background: $color-blue-0e;
    z-index: 2;

    @include breakpoint-down(mobile) {
        transition: transform 0.3s;
        transform: translateX(-100%);
    }

    .toggle-sidebar {
        display: none;

        @include breakpoint-down(mobile) {
            display: inline-flex;
            position: absolute;
            left: 100%;
            top: 0;
            width: $sidebar-width;
            height: 45px;
            justify-content: center;
            background: none;
            align-items: center;
            transition: left 0.3s;
            border: 0;
            border-bottom: 1px solid $color-gray-e6;

            &:before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                border-right: 3px solid $color-blue-0e;
                border-bottom: 3px solid $color-blue-0e;
                transform: rotate(-45deg);
                transition: border-color 0.3s, transform 0.3s;
            }
        }
    }

    .sidebar__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .sidebar__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45px;
        transition: background 0.3s;

        &:hover {
            background-color: rgba(#fff, 0.2);
        }

        path {
            fill: #ffffff;
        }

        g {
            fill: #ffffff;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    .sidebar__link-inner {
        padding: 8px;
        border-radius: 50%;
        transition: background 0.3s;
    }

    .sidebar__link.active {
        background: $c-white;

        path {
            fill: $color-blue-3C;
        }

        g {
            fill: $color-blue-3C;
        }
    }

    .sidebar__link--dashboard {
        background: $c-white;
        transition: background 0.3s;

        &:hover {
            background: $c-white;

            .sidebar__link-inner {
                background: $color-blue-0e;
            }

            path {
                fill: $c-white;
                transition: fill 0.3s;
            }

            g {
                fill: $c-white;
                transition: fill 0.3s;
            }
        }

        path {
            fill: $color-blue-3C;
        }

        g {
            fill: $color-blue-3C;
        }

        .sidebar__link-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
            padding: 0 0 2px;
        }
    }

    .sidebar__link--dashboard.active {
        .sidebar__link-inner {
            background: $color-blue-0e;
        }

        path {
            fill: $c-white;
        }

        g {
            fill: $c-white;
        }
    }
}

.nav-is-open {
    .sidebar {
        padding-top: 45px;

        @include breakpoint-down(mobile) {
            transform: translateX(0);
        }

        .toggle-sidebar {
            @include breakpoint-down(mobile) {
                left: 0;
            }

            &:before {
                border-color: #fff;
                transform: rotate(135deg);
            }
        }
    }
}
